body {
    background-color: gainsboro;
    font-family: 'Varela Round', sans-serif;
    
}

.intro {
    text-align: center;
    box-sizing: border-box;
    visibility: hidden;
}

.quizDiv {
    text-align: center;
    box-sizing: border-box;
    visibility: visible;
}

.goAgain {
    text-align: center;
    box-sizing: border-box;
    visibility: hidden;
}
